## Task Dos
### KNN clasificación

In [4]:
import numpy as np
import math
import pandas as pd
import seaborn as sns
#leer el csv de dataset en un dataframe
dfknn= pd.read_csv("./Oranges vs Grapefruit.csv")
dfknn.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

In [8]:
dfknn.loc[dfknn['name'] == 'orange', 'num'] = 0 
dfknn.loc[dfknn['name'] == 'grapefruit', 'num'] = 1

In [9]:
dfknn.head()

     name  diameter  weight  red  green  blue  num
0  orange      2.96   86.76  172     85     2  0.0
1  orange      3.91   88.05  166     78     3  0.0
2  orange      4.42   95.17  156     81     2  0.0
3  orange      4.47   95.60  163     81     4  0.0
4  orange      4.48   95.76  161     72     9  0.0

In [10]:
pd.crosstab(index=dfknn['name'], columns='count')

col_0       count
name
grapefruit   5000
orange       5000

De lo que podemos observar de aquí es que el 50% de los datos son naranjas y el otro 50 son las toronjas. Se facotriza la variable para poder hacer el modelo de K nearest neighbor de mejor manera y que haga con los numeros la predicción.

In [17]:
X = dfknn.iloc[:, 1:-1].values
y = dfknn.iloc[:, 6].values

array([0., 0., 0., ..., 1., 1., 1.])

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

y_test

array([1., 1., 1., ..., 0., 0., 0.])